
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    background-color:#F2F8ED;
  }

main {
    flex: 1 0 auto;
}

footer {
    padding-top: 0;
    text-align: right;
  }

h1 {
   text-align: center;
   font-size: 50px;
   font-family: 'Passion One', cursive;
   color: #43A367;
}

.navbar-brand, .nav-item {
  font-family: 'Passion One', cursive;
  }

.navbar-brand {
    font-size: 25px;
  }

.nav-item {
    font-size: 20px;
  }

span {
    -webkit-text-stroke: 1px #43A367;
    -webkit-text-fill-color: transparent
  }


/* Signup */
.Box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:white;
    text-align: center;
    background-color: rgba(192, 240, 137, 0.918);
}

.Box h1{
    color:green;
    text-transform: uppercase;
    font-weight: 400;
    background-color: #8BC34A;
}
.Box input[type = "text"],.Box input[ type = "Password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #8BC34A;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color:black;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 20px;
    font-family: 'Passion One', cursive;
}

.Box input[type = "text"]:focus,.Box input[ type = "Password"]:focus{
    width: 180px;
    border-color: blue;
}
.Box input[Type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #8BC34A;
    padding: 14px 40px;
    outline: none;
    color:black;
    font-size: 10px;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-size: 20px;
}
.Box input[type="submit"]:hover{
    background: #8BC34A;
}

#submit {
  font-family: 'Passion One', cursive;
}


/* Home Page */
#circle {

    animation: wheel 10s infinite linear alternate;
    transform-origin: center;
    transform-box: fill-box;
}

#dollar {
    animation: money 1s infinite ease-in-out alternate;
}

@keyframes wheel {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes money {
    from {
        transform: rotateX(0) rotateZ(0);
    }

    to {
        transform: rotateX(15deg) rotateZ(0);
    }
}

/* About Page */
.snip1568 {
  font-family: "Open Sans", Arial, sans-serif;
  position: relative;
  display: inline-block;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #141414;
  text-align: left;
  line-height: 1.4em;
  font-size: 14px;
  box-shadow: none !important;
}

.snip1568 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1568 .profile-image img {
  border-radius: 5px;
  max-width: 100%;
  height: 80px;
  vertical-align: top;
  float: left;
}

.snip1568 figcaption {
  width: 100%;
  background-color: #333333;
  color: #fff;
  padding: 25px;
  display: inline-block;
  margin-bottom: 15px;
  border-radius: 5px;
  position: relative;
}

.snip1568 figcaption:after {
  content: "";
  position: absolute;
  left: 32px;
  top: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #333333 transparent transparent transparent;
}

.snip1568 h3,
.snip1568 h4,
.snip1568 p {
  margin: 0 0 5px;
}

.snip1568 h3 {
  font-weight: 600;
  font-size: 1.2em;
  font-family: "Montserrat", Arial, sans-serif;
}

.snip1568 h4 {
  color: #8c8c8c;
  font-weight: 400;
  letter-spacing: 2px;
}

.snip1568 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}

.snip1568 .icons {
  padding: 20px 90px;
}

.snip1568 i {
  padding: 10px 2px;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  opacity: 0.75;
}

.snip1568 i:hover {
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

/* Budget Form */
.budget-form input {
  border: 0;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #8BC34A;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}
