{% extends 'base.html' %} {% block content %}
<h1>Category Detail View</h1>
<div class="container">
    <div class="row">
        <div class="col-6">
            {% for category in categories %}
            {% if category.id == category_id%}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <span class="card-title">{{ category.name }}</span>
                        <p>Name: {{ category.name }}</p>
                        <p>Total: ${{ category.total }}</p>
                    </div>
            {% endif%}
            {% endfor %}
        </div>

        <div class="col-6">
            {% for expense in expenses %}
                <div class="card" style="width: 20rem height: 25rem;">
                    <div class="card-body">
                        <span class="card-title">Expense Details</span>
                        <p>Name: {{ expense.name }}</p>
                        <p>Amount: ${{ expense.amount }}</p>
                        <p>Date: {{ expense.date }}</p>
                        <p></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}