{% extends 'base.html' %} {% block content %}
<h1>Categories List</h1>
<div class="container">
    <div class="row">
        <div class="col-4">
            {% for category in categories %}
            <a href="{% url 'expense_index' budget_id category.id %}">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <span class="card-title">{{ category.name }}</span>
                        <p>Name: {{ category.name }}</p>
                        <p>Total: ${{ category.total }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>

        {% comment %} <div class="col-8">
            {% for category in categories %}
            <a href="{% url 'category_index' budget.id %}">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <span class="card-title">{{ category.name }}</span>
                        <p>Name: {{ category.name }}</p>
                        <p>Total: ${{ category.total }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div> {% endcomment %}
{% endblock %}