{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
            <div class="card border border-success mt-5">
                <h1 class="card-header border-bottom border-success" id="title">Budget Form</h1> ​
                <div class="card-body"> 
                    <form method="POST" class="form">
                        {% csrf_token %} 
                        {{ budget_form.as_p}}
                        <button type="submit" class="btn btn-success rounded-pill">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}