{% extends 'base.html' %}

{% block content %}

<h1>All Budgets</h1>
<div class="container">
<div class="row justify-content-center">
{% for budget in budgets %}
<a href="{% url 'category_index' budget.id %}">
   <div class="card" style="width: 18rem;">
    <div class="card-body">
      <span class="card-title">{{ budget.name }}</span>
      <p>Name: {{ budget.name }}</p>
      <p>Total: ${{ budget.total }}</p>
        <p>Length: {{ budget.length}}</p>
    </div>
  </div>
  </a>
  <div class="btn">
    <button type="button" class="btn btn-outline-success">Edit</button>
    <button type="button" class="btn btn-success">Delete</button>
</div>
{% endfor %}
</div>
</div>

{% endblock %}