{% extends 'base.html' %}
{% block content %}



<h1>Meet Our Team</h1>

<figure class="snip1568">
  <figcaption>
    <h3>Kesha Griffin</h3>
    <h4>Software Engineer</h4>
    <p>Chain Shot skysail jack pillage maroon mutiny spike hail-shot jib black jack. Draft lookout plunder tackle jury mast hail-shot trysail hogshead six pounders bilge water. Wherry transom chase guns pressgang scuppers lanyard tackle lee stern clipper.</p>
  </figcaption>
  <div class="profile-image"><img src="https://i.imgur.com/7c6xf7u.jpg" alt="profile-sample2" />
    <div class="icons"><a href="#"><i class="ion-social-reddit"></i></a>
      <a href="#"> <i class="ion-social-twitter"></i></a>
      <a href="#"> <i class="ion-social-vimeo"></i></a>
    </div>
  </div>
</figure>
<figure class="snip1568">
  <figcaption>
    <h3>Marcus Gillepsie</h3>
    <h4>Software Engineer</h4>
    <p>Chain Shot skysail jack pillage maroon mutiny spike hail-shot jib black jack. Draft lookout plunder tackle jury mast hail-shot trysail hogshead six pounders bilge water. Wherry transom chase guns pressgang scuppers lanyard tackle lee stern clipper.</p>
  </figcaption>
  <div class="profile-image"><img src="https://i.imgur.com/mLY7wKW.jpg" />
    <div class="icons"><a href="#"><i class="ion-social-reddit"></i></a>
      <a href="#"> <i class="ion-social-twitter"></i></a>
      <a href="#"> <i class="ion-social-vimeo"></i></a>
    </div>
  </div>
</figure>
<figure class="snip1568">
  <figcaption>
    <h3>Dennis Chen</h3>
    <h4>Software Engineer</h4>
    <p>Chain Shot skysail jack pillage maroon mutiny spike hail-shot jib black jack. Draft lookout plunder tackle jury mast hail-shot trysail hogshead six pounders bilge water. Wherry transom chase guns pressgang scuppers lanyard tackle lee stern clipper. </p>
  </figcaption>
  <div class="profile-image"><img src="https://i.imgur.com/MvSVBB6.jpg" alt="profile-sample6" />
    <div class="icons"><a href="#"><i class="ion-social-reddit"></i></a>
      <a href="#"> <i class="ion-social-twitter"></i></a>
      <a href="#"> <i class="ion-social-vimeo"></i></a>
    </div>
  </div>
</figure>

{% endblock %}